.home-page > .body-content {
  position: absolute;
  top: 20%;
  z-index: 1;
  color: rgb(12, 240, 168);
}
.home-page > img {
  z-index: 0;
  position: relative;
  width:95%;
  top: 1%;
}
.home-content {
  font-family: 'Kanit', sans-serif;
  font-size: 64px;
}
.home-content:hover {
  display: inline-block;
  color: white;

}
a > img {
  width: 32px;
  height: 32px;
}
.btn-resume {
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(156, 184, 57);
  border: none;
  cursor: pointer;
}
.btn-resume > a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 325px) and (max-width: 450px) {
  .home-page > .body-content > h1 {
    font-size: 34px;

    width: 80vw;
    margin-top: 25px;
  }

  .home-page > .body-content {
    left: 2%;
    color: rgb(206, 248, 235);

    width: fit-content;
    margin-left: 8%;
    margin-top: 36px;
  }
  .home-page > img {
    width: 75%;
    height: 70%;
    left: 0;
    transform: rotateZ(20deg);
  }
  a {
    background-color: inherit;
  }
  .home-page {
    width: 90vw;
    left: 2%;
  }
}