
.project-head{
    max-height: 20vh;
  }
  .project-head>h1{
    color:yellow;
    font-size: 44px;
  }
  .project-head>h1:hover{
    color:white;
  }
  .project-head>p>span{
    color:white;
    font-weight: normal;
  }
  .project-head>p{
    font-weight: bold;
  }
  .project-page{
    display: flex;
    flex-wrap: wrap;
    height:70vh;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
  }
  .project-content{
  width:200px;
  height:250px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition:0.5s ease-in-out;
  }
  .project-content>h1{
   font-size: 100%;
  }
  .project-content>img{
    object-fit: cover;
    width:80%;
    height:40%; 
   
  }
  .project-content>img:hover{
  
    opacity:0.7;
  }
  
  .btn-site {
    width: 64px;
    color: white;
    background: linear-gradient(90deg, #fed54a, #ff9347);
  } 
  
  .btn-group > a {
    font-size: small;
    padding: 2%;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .btn-repo {
    background-color: rgb(37, 35, 35);
    color: white;
  }
  .btn-group > button:hover {
    opacity: 0.7;
  }
  .btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  
  }
  
  a {
    text-decoration: none;
  }
  .project-content:hover {
    cursor: pointer;
    transform: translateY(10px);
  }
  
  
  @media only screen and (min-width:490px) and (max-width:726px){
    .project-content{
     width:150px;
     height:220px;
    }
    .btn-group > a {
      font-size: 70%;
    }
  
  }
  @media only screen and (min-width: 325px) and (max-width: 475px) {
     
    .project-head>h1{
      color:yellow;
      font-size: 32px;
    }
    .project-page{
      height:70vh;
    }
    .project-content{
      width:40%;
      height:30%;
      padding:4px;
     }
    
     .btn-group > a {
       font-size: 50%;
     }
     .project-content > h1 {
      font-size: 12px;
    }
   
  
  } 